body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0099ff, #66ccff);
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 120px auto;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 95%;
    padding: 10px;
    background: #2d6cdf;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
}

.box {
    margin-top: 20px;
    background: #efefef;
    padding: 15px;
    border-radius: 10px;
    min-height: 50px;
}
